@model IList<WebApplication1.Models.TakedBooksViewModel>

<table class="table">
    <tr>
        <th>
            UserId
        </th>
        <th>
            BookId
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookId)
        </td>
    </tr>
}

</table>
