@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Writer Platform</h1>
    <p class="lead">Писательская платформа предназначена для всех новых и старых писателей </p>
    <p> @Html.ActionLink("Поехали", "Login", "Account")</p>
</div>


    <div class="col-md-4">
        <h2>Давайте начнем</h2>
        <p>
           Это платформа позволить вам начать свою карьеру писателя ,получить новые отзывы и узнать мнение своих читалей и не только
        </p>
        <p> @Html.ActionLink("Поехали", "Login","Account")</p>
    </div>

